.antagonists96x96{display:inline-block;width:96px;height:96px;background-image:url('%antagonists_96x96.png%');background-repeat:no-repeat;}
.antagonists96x96.glitch{background-position:-0px -0px;}
.antagonists96x96.fugitive{background-position:-96px -0px;}
.antagonists96x96.loneoperative{background-position:-192px -0px;}
.antagonists96x96.sentiencepotionspawn{background-position:-288px -0px;}
.antagonists96x96.syndicateinfiltrator{background-position:-384px -0px;}
.antagonists96x96.hereticsmuggler{background-position:-480px -0px;}
.antagonists96x96.stowawaychangeling{background-position:-0px -96px;}
.antagonists96x96.provocateur{background-position:-96px -96px;}
.antagonists96x96.wizardmidround{background-position:-192px -96px;}
.antagonists96x96.operativemidround{background-position:-288px -96px;}
.antagonists96x96.clownoperativemidround{background-position:-384px -96px;}
.antagonists96x96.blob{background-position:-480px -96px;}
.antagonists96x96.xenomorph{background-position:-0px -192px;}
.antagonists96x96.nightmare{background-position:-96px -192px;}
.antagonists96x96.spacedragon{background-position:-192px -192px;}
.antagonists96x96.abductor{background-position:-288px -192px;}
.antagonists96x96.spaceninja{background-position:-384px -192px;}
.antagonists96x96.revenant{background-position:-480px -192px;}
.antagonists96x96.changelingmidround{background-position:-0px -288px;}
.antagonists96x96.paradoxclone{background-position:-96px -288px;}
.antagonists96x96.voidwalker{background-position:-192px -288px;}
.antagonists96x96.syndicatesleeperagent{background-position:-288px -288px;}
.antagonists96x96.malfaimidround{background-position:-384px -288px;}
.antagonists96x96.blobinfection{background-position:-480px -288px;}
.antagonists96x96.obsessed{background-position:-0px -384px;}
.antagonists96x96.traitor{background-position:-96px -384px;}
.antagonists96x96.malfai{background-position:-192px -384px;}
.antagonists96x96.bloodbrother{background-position:-288px -384px;}
.antagonists96x96.changeling{background-position:-384px -384px;}
.antagonists96x96.heretic{background-position:-480px -384px;}
.antagonists96x96.wizard{background-position:-0px -480px;}
.antagonists96x96.cultist{background-position:-96px -480px;}
.antagonists96x96.operative{background-position:-192px -480px;}
.antagonists96x96.clownoperative{background-position:-288px -480px;}
.antagonists96x96.headrevolutionary{background-position:-384px -480px;}
.antagonists96x96.spy{background-position:-480px -480px;}