.paper121x54{display:inline-block;width:121px;height:54px;background-image:url('%paper_121x54.png%');background-repeat:no-repeat;}
.paper121x54.stamp-clown{background-position:-0px -0px;}
.paper121x54.stamp-deny{background-position:-121px -0px;}
.paper121x54.stamp-ok{background-position:-242px -0px;}
.paper121x54.stamp-void{background-position:-0px -54px;}
.paper121x54.stamp-hop{background-position:-121px -54px;}
.paper121x54.stamp-cmo{background-position:-242px -54px;}
.paper121x54.stamp-ce{background-position:-0px -108px;}
.paper121x54.stamp-hos{background-position:-121px -108px;}
.paper121x54.stamp-rd{background-position:-242px -108px;}
.paper121x54.stamp-cap{background-position:-0px -162px;}
.paper121x54.stamp-qm{background-position:-121px -162px;}
.paper121x54.stamp-law{background-position:-242px -162px;}
.paper121x54.stamp-chap{background-position:-0px -216px;}
.paper121x54.stamp-mime{background-position:-121px -216px;}
.paper121x54.stamp-centcom{background-position:-242px -216px;}
.paper121x54.stamp-syndicate{background-position:-0px -270px;}